<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to Behiye's Nodejs World</p><br>
    <b style="color:red">I'am using ths project heroku, travisCI, githup repo, mocha, webdriverIO, chai, mLab ...</b>
    <p>Git Push dan --> Github'a --> TravisCI'da test --> Heroku'da deploy --> ta taaa :)</p>
    <h4>Bu sistemler bir harika dostum :)</h4>
  </body>
</html>
