<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to Behiye's Nodejs World</p>
    <p>I'am using ths project heroku,travisCI,githup repo...</p>
  </body>
</html>
